body{
  font-family: "Work Sans", sans-serif;
}
.header{
  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  margin: 0px;
  background-position: center;
  background-size: cover;
  /* width: 1600px; */
}
.banner{
  text-align: right;
  padding: 200px 230px;
}
.banner-title{
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-left: 845px;
}
.banner-description{
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-left: 876px;
  margin-top: 24px;
}
.btn-primary{
  padding: 20px 25px;
  margin-top: 32px;
  background-color: #F15B22;
 color: #FFFFFF;
}