body{
  font-family: "Work Sans", sans-serif;
}
/* header part srart */
.header{
  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  margin: 0px;
  background-position: center;
  background-size: cover;
  /* width: 1600px; */
}
.banner{
  text-align: right;
  padding: 200px 230px;
}
.banner-title{
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-left: 845px;
}
.banner-description{
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-left: 876px;
  margin-top: 24px;
}
.btn-primary{
  padding: 20px 25px;
  margin-top: 32px;
  background-color: #F15B22;
 color: #FFFFFF;
 border: 0px;
 border-radius: 5px;
}
/* main section start */
  .section1{
    display: flex;
    margin-top: 140px;
    margin-right: 322px;
    margin-left: 225px;
  }
  .section2{
    margin-right: 90px;
  }
  .main1{
    margin-top: 230px;
  }
  .main-header{
    margin-right: 128px;
    margin-bottom: 24px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
  }
  .main-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
  }
  .main1 > ul{
    color: #444343;
    
  }
/* footer section start */
.footer{
  display: flex;
  background-color: #151414;
  padding: 130px 230px;
  gap: 330px;
}
.footer-header{
  color: #F8F8F8;
font-size: 45px;
font-weight: 700;
}
.footer-description{
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}
.footer-head{
  color: #FFF;
 font-size: 25px;
 font-weight: 600;
}
.form{
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
border: 1px solid #FFF;
width: 100%;
}
.btn-secondary{
  margin-top: 15px;
  border-radius: 8px;
background: #FFF;
padding: 20px 35px;
color: #F15B22;
font-size: 20px;
font-weight: 600;
}
.anchor{
  margin-top: 32px;
}

